<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.JoshShoemaker.trailstatus"
    android:versionCode="5"
    android:versionName="1.0.3">

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17" />
    
    <uses-permission  android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:name=".TrailStatusApp">

        <activity
            android:name=".activities.TrailStatusActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TrailActivity" />
        <activity android:name=".activities.TrailReportActivity" />
        <activity android:name=".activities.LoginActivity" />

        <receiver android:name=".widgets.TrailStatusWidgetProvider"
            android:enabled="@bool/sinceHoneycomb">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/trailstatus_appwidget_info" />
		</receiver>
		<service android:name=".widgets.WidgetService"
             android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>	   
          
</manifest>
